[submodule "packages/local-client"]
    path = packages/local-client
    url = https://github.com/kmlibin/local-client.git
[submodule "packages/local-api"]
    path = packages/local-api
    url = https://github.com/kmlibin/local-api.git
[submodule "packages/cli"]
    path = packages/cli
    url = https://github.com/kmlibin/cli.git